@using Langbox.Shared.Components

<h1>@CurrentChallenge.Title</h1>

<Row Justify="between" Align="top" Style="margin-top: 10px;">
    <Col Span="12">
        <Tabs DefaultActiveKey="instructions" @bind-ActiveKey="@CurrentTab">
            <TabPane Key="instructions">
                <Tab>
                    Instructions
                </Tab>

                <ChildContent>
                    <Markdown Content="@CurrentChallenge.Instructions" />
                </ChildContent>
            </TabPane>

            <TabPane Key="output">
                <Tab>
                    Output
                </Tab>

                <ChildContent>
                    @if (IsTesting)
                    {
                        <p style="text-align: center;">
                            <Spin Indicator=iconLoadingPrimary /> Testing
                        </p>
                    }
                    else
                    {
                        @if (LastExecutionResult is null)
                        {
                            <p>Your output will be displayed here.</p>
                        }
                        else if (LastExecutionResult.IsT0)
                        {
                            // Test succeeded.
                            <h3 style="color: #4db94d;">Tests succeeded!</h3>
                        }
                        else if (LastExecutionResult.IsT1)
                        {
                            // Timeout.
                            <h4>Timeout has occured.</h4>
                        }
                        else if (LastExecutionResult.IsT2)
                        {
                            // Build failed.
                            <h3 style="color: firebrick;">Build failed!</h3>
                            <br />
                            <code>@LastExecutionResult.AsT2.Stdout</code>
                        }
                        else if (LastExecutionResult.IsT3)
                        {
                            // Test failed.
                            <h3 style="color: firebrick;">Tests failed!</h3>
                            <br />
                            <code>@LastExecutionResult.AsT3.Stdout</code>
                        }
                        else if (LastExecutionResult.IsT4)
                        {
                            // Unknown failure.
                            <h3 style="color: firebrick;">Unknown failure!</h3>
                        }
                    }
                </ChildContent>
            </TabPane>
        </Tabs>
    </Col>

    <Col Span="12">
        <span>
            Language: <Text Code>@CurrentChallenge.Environment?.Language</Text>
        </span>

        <div id="main-editor" style="width: auto; height: 600px; margin-top: 10px; border: 1px solid grey; background-color: #1e1e1e" />

        <div style="display: flex; justify-content: flex-end; padding: 10px 0px 10px 10px;">
            <Button OnClick="@OnNextChallenge">Next Challenge</Button>

            <Button Type="primary" OnClick="@OnTest">
                @if (IsTesting)
                {
                    <Spin Indicator=iconLoadingDefault />
                }
                else
                {
                    <span>Test</span>
                }
            </Button>

            @if (IsTesting)
            {
                <Button OnClick="@OnCancelTest">Cancel Testing</Button>
            }
        </div>
    </Col>
</Row>

@code {
    RenderFragment iconLoadingPrimary = @<Icon Type="loading" Theme="outline" Style="font-size: 12px" Spin />;
    RenderFragment iconLoadingDefault = @<Icon Type="loading" Theme="outline" Style="font-size: 12px; color: white;" Spin />;
}
